@import "tailwindcss";

@theme {}

:root {
  /* fonts */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  /* colors */
  --background: #FFFFFF;
  --border-color: #000000; 
  --main-text-color: #000000;

  --button-color: #3A63A8;
  --button-color-text: #FFFFFF;
  --button-color-hover: #7CB8F2;
  --button-color-hover-text: #FFFFFF;

  --modal-background: #FFFFFF; 
  --modal-backdrop: #DAD9D9; 

  --error-modal-background: #FAF6D6; 
  --error-modal-close: #C0B45E; 
  --error-modal-text: #000000;

  --footer-background: #2D4A7A;
  --footer-text: #FFFFFF; 
}

input[type="radio"] {
  appearance: none;
  width: 15px;
  height: 15px;
  border: 2px solid var(--main-text-color);
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  transition: background 0.2s ease;
}

input[type="radio"]:checked {
  background-color: var(--button-color);
}

@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  18%{
    transform: rotate(22.5deg);
  }
  35% {
    transform: rotate(45deg);
  }
  65% {
    transform: rotate(225deg);
  }
  80% {
    transform: rotate(292.5deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 1.25s steps(24, end) infinite;
}


@media (prefers-color-scheme: dark) {
  :root {
    --main-text-color: #D5D5D5;
    --background: #050834;
    
    --modal-background: #050834;
    --footer-background: #2D4A7A;

    --input-border-color: #D5D5D5;
    --input-background: #0C0E2A; 
    --input-text-color: #D5D5D5;

    --button-color: #3A63A8;
    --button-color-hover: #7CB8F2;
    --button-color-text: #D5D5D5;

    --error-modal-background: #C6C08B;
    --error-modal-close: #676135; 
    --error-modal-text: #000000;
  }    
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
